body {
    margin: 0;
    min-height: 100vh;
}

.default-image{
    object-fit: cover;
}

p {
    font-size: 26px;
}

.type {
    background-color: aliceblue;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}

.name {
    font-weight: 600;
    display: flex;
    justify-content: center;
}
input {
    border-width: 0;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}

button {
    border-width: 0;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    margin-top: 10px;
}

.row {
    flex-direction: row;
}